@import '~@angular/material/theming';
@mixin app-root-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    app-root {
        background-color: mat-color($background, background);
    }
    h1 {
        color: mat-color($foreground, text);
    }
}

@mixin app-root-typography($config) {
    app-root {
        h1 {
            @include mat-typography-level-to-styles($config, title);
        }
    }
}

@mixin header($background:$success, $width:100%, $height:70px) {
    background-color: $background;
    width: $width;
    height: $height;
}

@mixin margin($top:0px, $bottom:0px, $left:0px, $right:0px) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}

@mixin display-flex($position:center) {
    display: flex;
    justify-content: $position !important;
    align-items: $position !important;
}